:root {
  --bcg-main: #FFFFFF;
  --bcg-secondary: #2F303A;
  --bcg-third: #F5F4FA;
  --border-projects: #EEEEEE;
  --title: #212121;
  --text: #757575;
  --accent-color: #2196F3;
  --text-secondary: #F5F4FA;
  --logo-main: #000000;
  --bcg-hero: #C4C4C4;
  --icons-main: #AFB1B8;
  --customer-color: #AFB1B8;
  --bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--bcg-main);
  color: var(--text);
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
  max-width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  color: var(--logo-main);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo__accent {
  color: var(--accent-color);
}
.logo--footer {
  display: inline-block;
  color: var(--bcg-main);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  margin-bottom: 20px;
}

.section__title {
  color: var(--title);
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-networks__icon {
  fill: var(--icons-main);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-timing-function: var(--bezier);
          transition-timing-function: var(--bezier);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.social-networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: var(--bezier);
          transition-timing-function: var(--bezier);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.social-networks__link:hover, .social-networks__link:focus {
  background-color: var(--accent-color);
}

.social-networks__item {
  width: 44px;
  height: 44px;
}

.social-networks__link:hover .social-networks__icon,
.social-networks__link:focus .social-networks__icon {
  fill: var(--bcg-main);
}

.social-networks--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social-networks__link--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: var(--bezier);
          transition-timing-function: var(--bezier);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.social-networks__link--footer:hover,
.social-networks__link--footer:focus {
  background-color: var(--accent-color);
}

.social-networks__icon--footer {
  fill: var(--bcg-main);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  min-height: 581px;
  min-width: 528px;
  background-color: var(--bcg-main);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.modal__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title);
  margin-bottom: 12px;
}

.close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--bcg-main);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-timing-function: var(--bezier);
          transition-timing-function: var(--bezier);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--bezier);
          transition-timing-function: var(--bezier);
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.label {
  display: block;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-input {
  position: relative;
  margin-bottom: 10px;
}

.form-input__field {
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  outline: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-timing-function: var(--bezier);
          transition-timing-function: var(--bezier);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.form-input__field.textarea {
  display: block;
  resize: none;
  padding: 12px 16px;
  min-height: 120px;
  width: 100%;
  margin-bottom: 20px;
}
.form-input__field:hover, .form-input__field:focus {
  cursor: pointer;
  border-color: var(--accent-color);
}

.form-input__field:focus + .form-input__icon,
.form-input__field:hover + .form-input__icon {
  fill: var(--accent-color);
}

.form-input__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-timing-function: var(--bezier);
          transition-timing-function: var(--bezier);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.form-agreement {
  text-align: center;
  margin-bottom: 30px;
}

.form-agreement__text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.form__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 52px;
  background-color: #188CE8;
  color: var(--bcg-main);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: var(--bezier);
          transition-timing-function: var(--bezier);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.form__btn:hover,
.form__btn:focus {
  background-color: var(--accent-color);
}

.form-agreement__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 9px;
}

.form-agreement__link {
  color: var(--accent-color);
}

.form-agreement__check-icon {
  opacity: 0;
  position: absolute;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.form-agreement__uncheck-icon {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.checkbox-field:checked + .form-agreement__text .form-agreement__check-icon {
  opacity: 1;
  position: static;
}

.checkbox-field:checked + .form-agreement__text .form-agreement__uncheck-icon {
  opacity: 0;
  position: absolute;
}

@media screen and (min-width: 1200px) {
  .page-header {
    border-bottom: 1px solid #ECECEC;
  }
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-nav {
    margin-right: auto;
  }
  .list-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .list-nav__link {
    display: block;
    color: var(--title);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    padding-top: 32px;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-timing-function: var(--bezier);
            transition-timing-function: var(--bezier);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
  }
  .list-nav__link.current {
    color: var(--accent-color);
    position: relative;
  }
  .list-nav__link.current::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--accent-color);
    bottom: -1px;
    left: 0px;
  }
  .list-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .list-nav__link:hover,
.list-nav__link:focus {
    color: var(--accent-color);
  }
  .contacts-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .list-contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 32px;
    padding-top: 32px;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-timing-function: var(--bezier);
            transition-timing-function: var(--bezier);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
  }
  .list-contacts__link:hover, .list-contacts__link:focus {
    color: var(--accent-color);
  }
  .list-contacts__item:not(:last-child) {
    margin-right: 50px;
  }
  .list-contacts__icon {
    fill: currentColor;
  }
}
.hero {
  background-color: var(--bcg-hero);
  max-width: 480px;
  margin: auto;
  padding-bottom: 118px;
  padding-top: 118px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bcg_Img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg_Img.jpg);
  background-size: cover;
  background-position: center;
}
.hero__title {
  color: var(--bcg-main);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
}
.hero__button {
  background-color: var(--accent-color);
  color: var(--bcg-main);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 24px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: var(--bezier);
          transition-timing-function: var(--bezier);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.hero__button:hover, .hero__button:focus {
  background-color: #188CE8;
}

@media screen and (min-width: 768px) {
  .hero {
    background-color: var(--bcg-hero);
    max-width: 768px;
    margin: auto;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bcg_Img.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg_Img.jpg);
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-color: var(--bcg-hero);
    max-width: 1600px;
    margin: auto;
    padding-bottom: 200px;
    padding-top: 200px;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bcg_Img.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg_Img.jpg);
    background-size: cover;
    background-position: center;
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.4;
    max-width: 696px;
  }
  .hero__button {
    line-height: 1.9;
    padding: 10px 32px;
  }
}
.list-superiority {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.list-superiority__item {
  width: 100%;
  margin-bottom: 30px;
}
.list-superiority__title {
  color: var(--title);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}
.list-superiority__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.list-superiority__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 120px;
  margin-bottom: 30px;
  background-color: var(--bcg-third);
  border-radius: 4px;
}
.list-superiority__icon {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .list-superiority {
    gap: 30px;
  }
  .list-superiority__item {
    width: calc((100% - 30px) / 2);
  }
  .list-superiority__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .list-superiority {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .list-superiority__item {
    width: calc((100% - 60px) / 3);
  }
}
.services-section {
  display: none;
}

@media screen and (min-width: 768px) {
  .services-section {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .services-section {
    padding-top: 0px;
    display: block;
  }
  .list-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .list-services__item {
    position: relative;
  }
  .list-services__item:not(:last-child) {
    margin-right: 30px;
  }
  .list-services__discription {
    font-size: 14px;
    line-height: 1.1428571429;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    padding: 27px 0px 27px 0px;
    bottom: 0;
    color: var(--bcg-main);
  }
}
.team-section {
  background-color: var(--bcg-third);
}

.list-team {
  background-color: var(--bcg-third);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.list-team__item {
  background-color: var(--bcg-main);
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.list-team__item:not(:last-child) {
  margin-bottom: 30px;
}
.list-team__name {
  color: var(--title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 10px;
}
.list-team__discription {
  line-height: 1.1875;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.list-team__text-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team-section {
    background-color: var(--bcg-third);
    padding-bottom: 94px;
  }
}
.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.customers-list__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
  -webkit-transition-property: border-color, cursor;
  transition-property: border-color, cursor;
  -webkit-transition-timing-function: var(--bezier);
          transition-timing-function: var(--bezier);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.customers-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--customer-color);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.customers-list__link:hover, .customers-list__link:focus {
  border-color: var(--accent-color);
}
.customers-list__icon {
  width: 106px;
  height: 60px;
  fill: var(--customer-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-timing-function: var(--bezier);
          transition-timing-function: var(--bezier);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.customers-list__link:hover .customers-list__icon,
.customers-list__link:focus > .customers-list__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .customers-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .customers-list__item {
    width: calc((100% - 60px) / 3);
    height: 92px;
    -webkit-transition-property: border-color, cursor;
    transition-property: border-color, cursor;
    -webkit-transition-timing-function: var(--bezier);
            transition-timing-function: var(--bezier);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
  }
  .customers-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--customer-color);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  }
  .customers-list__link:hover, .customers-list__link:focus {
    border-color: var(--accent-color);
  }
  .customers-list__icon {
    width: 106px;
    height: 60px;
    fill: var(--customer-color);
    -webkit-transition-property: fill;
    transition-property: fill;
    -webkit-transition-timing-function: var(--bezier);
            transition-timing-function: var(--bezier);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
  }
  .customers-list__link:hover .customers-list__icon,
.customers-list__link:focus > .customers-list__icon {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .customers-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .customers-list__item {
    width: 170px;
    height: 92px;
    -webkit-transition-property: border-color, cursor;
    transition-property: border-color, cursor;
    -webkit-transition-timing-function: var(--bezier);
            transition-timing-function: var(--bezier);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
  }
  .customers-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--customer-color);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  }
  .customers-list__link:hover, .customers-list__link:focus {
    border-color: var(--accent-color);
  }
  .customers-list__icon {
    width: 106px;
    height: 60px;
    fill: var(--customer-color);
    -webkit-transition-property: fill;
    transition-property: fill;
    -webkit-transition-timing-function: var(--bezier);
            transition-timing-function: var(--bezier);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
  }
  .customers-list__link:hover .customers-list__icon,
.customers-list__link:focus > .customers-list__icon {
    fill: var(--accent-color);
  }
}
.footer {
  background-color: var(--bcg-secondary);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer-container .adress-container {
  margin-right: 93px;
}
.footer-container .adress-container .footer-address {
  font-style: normal;
}
.footer-container .join-container {
  margin-right: auto;
}
.footer-container .join-container__title {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bcg-main);
  margin-bottom: 20px;
}

.list-footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: var(--bezier);
          transition-timing-function: var(--bezier);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.list-footer__link.location {
  color: var(--bcg-main);
}
.list-footer__link:hover, .list-footer__link:focus {
  color: var(--accent-color);
}

.list-footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.form-container__title {
  color: var(--bcg-main);
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form-footer__input {
  width: 358px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--bcg-secondary);
  margin-right: 12px;
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

.form-footer__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  color: var(--bcg-main);
  background-color: var(--accent-color);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.form-footer__btn:hover, .form-footer__btn:focus {
  background-color: #188CE8;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter__button {
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--title);
  background-color: var(--bcg-third);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: var(--bezier);
          transition-timing-function: var(--bezier);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--accent-color);
  color: var(--bcg-main);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.projects__subtitle {
  color: var(--title);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects__text {
  font-size: 16px;
  line-height: 1.9;
}

.projects__item {
  width: calc((100% - 60px) / 3);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: var(--bezier);
          transition-timing-function: var(--bezier);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.projects__text-container {
  padding: 20px 24px;
  border: 1px solid var(--border-projects);
  border-top: none;
}

.projects__link {
  display: block;
  color: var(--text);
  outline: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: var(--bezier);
          transition-timing-function: var(--bezier);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.projects__link:focus,
.projects__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__img {
  position: relative;
  overflow: hidden;
}

.projects__overlay-text {
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--bcg-main);
}

.projects__overlay {
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: var(--bezier);
          transition-timing-function: var(--bezier);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.projects__link:hover .projects__overlay,
.projects__link:focus .projects__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}/*# sourceMappingURL=main.css.map */