body {
    background-color: var(--bcg-main);
    color: var(--text);
    font-family: Roboto, sans-serif;
}
h1,h2,h3,h4,p,ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}