:root {
    --bcg-main: #FFFFFF;
    --bcg-secondary: #2F303A;
    --bcg-third: #F5F4FA;
    --border-projects: #EEEEEE;
    --title: #212121;
    --text: #757575;
    --accent-color: #2196F3;
    --text-secondary: #F5F4FA;
    --logo-main: #000000;
    --bcg-hero: #C4C4C4;
    --icons-main: #AFB1B8;
    --customer-color: #AFB1B8;
    --bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

